$primary-color: #CC4C3D;

.primary-bg {
  background-color: $primary-color;
}

.primary-text {
  color: $primary-color;
}

.primary-border {
  border-color: $primary-color;
}

.primary-hover:hover {
  background-color: darken($primary-color, 10%);
}

.primary-light {
  background-color: lighten($primary-color, 40%);
}

.primary-dark {
  background-color: darken($primary-color, 20%);
}
